/* Statement SCSS
 *
 * Statement SCSS does some tricky stuff to make nice typography for the
 * society's mission statement. I am clearly not a front end guy....
 *
 * Somebody should send me a PR that will make this look nicer?
 *
 * Created by: Byron Mejia
 * Contributors:
 *
 */

$oh-god: 550px;
$oh-ruby: 800px;

.main {
  font-size: 35px;
  @media (max-width: $oh-ruby) {
    font-size: 25px;
  }
  @media (max-width: $oh-god) {
    font-size: 14.85px;
  }
}

.main0{
  font-size: 43.7px;
  @media (max-width: $oh-ruby) {
    font-size: 31.25px;
  }
  @media (max-width: $oh-god) {
    font-size: 18.5px;
  }
}

.main1{
  font-size: 69.2px;
  font-weight: bold;
  @media (max-width: $oh-ruby) {
    font-size: 49.5px;
  }
  @media (max-width: $oh-god) {
    font-size: 29.3px;
  }
}

.main2{
  font-size: 31.25px;
  @media (max-width: $oh-ruby) {
    font-size: 22.3px;
  }
  @media (max-width: $oh-god) {
    font-size: 13.25px;
  }
}

.main3{
  font-size: 32.2px;
  @media (max-width: $oh-ruby) {
    font-size: 23px;
  }
  @media (max-width: $oh-god) {
    font-size: 13.6px;
  }
}

.main4{
  font-weight: bold;
  font-size: 56.7px;
  @media (max-width: $oh-ruby) {
    font-size: 40.5px;
  }
  @media (max-width: $oh-god) {
    font-size: 24px;
  }
}

.main5{
  font-size: 41.6px;
  @media (max-width: $oh-ruby) {
    font-size: 29.75px;
  }
  @media (max-width: $oh-god) {
    font-size: 17.65px;
  }
}