/* Colours SCSS
 *
 * Colours SCSS describes the set colours for the stylesheets. These
 * have been chosen from the official Code Network design style guide.
 *
 * Created by: Byron Mejia
 * Contributors:
 *
 */
$charcoal: rgb(51, 51, 51);
$charcoal-60: rgba(51, 51, 51, 0.95);

$grey: rgb(102, 103, 102);

$light-grey: rgb(238, 238, 238);
$light-grey-70: rgba(234, 234, 234, 0.7);

$green: rgb(141, 198, 63);

$magenta: rgb(198, 63, 141);
